* {
  box-sizing: border-box;
}

.simple-task, .pinned-task {
  width: 200px;
  border-radius: 5px;
  padding: 9px;
  margin-top: 5px;
}

.simple-task {
  border: 1px solid #0000ff;
}

.pinned-task {
  border: 1px solid #00ff00;
}

.pin-button, .unpin-button {
  width: 5px;
  float: right;
  border-radius: 50%;
  padding: 8px;
}

.pin-button {
  background-color: #00ff00;
}

.unpin-button {
  background-color: #ff0000;
}

.hidden {
  display: none;
}